<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('yueXinApp.${className}.home.title')" id="${BusinessName}-heading">${ClassName}s</span>
            <router-link :to="{name: '${ClassName}Create'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-${BusinessName}">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('yueXinApp.${className}.home.createLabel')">
                    Create a new ${ClassName}
                </span>
            </router-link>
        </h2>
        <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
#foreach($column in $columns)
    #if($column.query)
        #set($dictType=$column.dictType)
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
        #if($column.htmlType == "input")
            <el-form-item label="${comment}" prop="${column.javaField}">
                <el-input
                    v-model="queryParams.${column.javaField}"
                    placeholder="请输入${comment}"
                    clearable
                    size="small"
                    @keyup.enter.native="handleQuery"
                />
            </el-form-item>
        #elseif(($column.htmlType == "select" || $column.htmlType == "radio") && "" != $dictType)
            <el-form-item label="${comment}" prop="${column.javaField}">
                <el-select v-model="queryParams.${column.javaField}" placeholder="请选择${comment}" clearable size="small">
                    <el-option
                        v-for="dict in ${column.javaField}Options"
                        :key="dict.dictValue"
                        :label="dict.dictLabel"
                        :value="dict.dictValue"
                    />
                </el-select>
            </el-form-item>
        #elseif(($column.htmlType == "select" || $column.htmlType == "radio") && $dictType)
            <el-form-item label="${comment}" prop="${column.javaField}">
                <el-select v-model="queryParams.${column.javaField}" placeholder="请选择${comment}" clearable size="small">
                    <el-option label="请选择字典生成" value="" />
                </el-select>
            </el-form-item>
        #elseif($column.htmlType == "datetime" && $column.queryType != "BETWEEN")
            <el-form-item label="${comment}" prop="${column.javaField}">
                <el-date-picker clearable size="small"
                                v-model="queryParams.${column.javaField}"
                                type="date"
                                value-format="yyyy-MM-dd"
                                placeholder="选择${comment}">
                </el-date-picker>
            </el-form-item>
        #elseif($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
            <el-form-item label="${comment}">
                <el-date-picker
                    v-model="daterange${AttrName}"
                    size="small"
                    style="width: 240px"
                    value-format="yyyy-MM-dd"
                    type="daterange"
                    range-separator="-"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                ></el-date-picker>
            </el-form-item>
        #end
    #end
#end
            <el-form-item>
                <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
                <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
            </el-form-item>
        </el-form>
        <el-row :gutter="10" class="mb8">
            <el-col :span="1.5">
                <el-button
                    type="primary"
                    plain
                    icon="el-icon-plus"
                    size="mini"
                    @click="handleAdd"
                >新增</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                    type="success"
                    plain
                    icon="el-icon-edit"
                    size="mini"
                    :disabled="single"
                    @click="handleUpdate"
                >修改</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                    type="danger"
                    plain
                    icon="el-icon-delete"
                    size="mini"
                    :disabled="multiple"
                    @click="handleDelete"
                >删除</el-button>
            </el-col>
            <el-col :span="1.5">
                <el-button
                    type="warning"
                    plain
                    icon="el-icon-download"
                    size="mini"
                    :loading="exportLoading"
                    @click="handleExport"
                >导出</el-button>
            </el-col>
##            <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
        </el-row>

        ##        <b-alert :show="dismissCountDown"
##                 dismissible
##                 :variant="alertType"
##                 @dismissed="dismissCountDown=0"
##                 @dismiss-count-down="countDownChanged">
##            {{alertMessage}}
##        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && ${className}s && ${className}s.length === 0">
            <span v-text="$t('yueXinApp.${className}.home.notFound')">No ${className}s found</span>
        </div>
        <template>
            <el-table :data="${className}s"
                style="width: 100%"
                stripe
                align="center"
                @sort-change="changeOrder">
        #foreach($column in $columns)
            #set($javaField=$column.javaField)
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
                #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
                #set($comment=$column.columnComment)
            #end
            #if($column.pk)
                <el-table-column label="${comment}" align="center" prop="${javaField}"  sortable/>
            #elseif($column.list && $column.htmlType == "datetime")
                <el-table-column label="${comment}" align="center" prop="${javaField}" width="180" sortable>
                    <template slot-scope="scope">
                        <span>{{ parseTime(scope.row.${javaField}, '{y}-{m}-{d}') }}</span>
                    </template>
                </el-table-column>
            #elseif($column.list && "" != $column.dictType)
                <el-table-column label="${comment}" align="center" prop="${javaField}"  sortable>
                    <template slot-scope="scope">
                        <dict-tag :options="${javaField}Options" :value="scope.row.${javaField}"/>
                    </template>
                </el-table-column>
            #elseif($column.list && "" != $javaField)
                <el-table-column label="${comment}" align="center" prop="${javaField}"  sortable/>
            #end
        #end

                <el-table-column
                    fixed="right"
                    header-align="center"
                    align="center"
                    label="操作" >
                    <template slot-scope="scope">
                        <div class="btn-group">
                            <router-link :to="{name: '${ClassName}View',  params: {${className}Id: scope.row.$pkColumn.columnName}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: '${ClassName}Edit', params:  {${className}Id: scope.row.$pkColumn.columnName}}" tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(${className})"
                                      variant="danger"
                                      class="btn btn-sm"
                                      v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </template>
        <!-- 删除弹框  开始     -->
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="yueXinApp.${className}.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-${className}-heading" v-text="$t('yueXinApp.${className}.delete.question', {'$pkColumn.columnName': removeId})">Are you sure you want to delete this ${ClassName}?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-${className}" v-text="$t('entity.action.delete')" v-on:click="remove${ClassName}()">Delete</button>
            </div>
        </b-modal>
        <!-- 删除弹框 结束      -->
        <!-- 分页    开始   -->
        <!--        <div v-show="${className}s && ${className}s.length > 0">-->
        <!--            <div class="row justify-content-center">-->
        <!--                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>-->
        <!--            </div>-->
        <!--            <div class="row justify-content-center">-->
        <!--                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="row justify-content-center">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="page"
                :page-sizes="[20,100, 200, 300, 400]"
                :page-size="itemsPerPage"
                layout="total, sizes, prev, pager, next, jumper"
                :total="queryCount">
            </el-pagination>
        </div>
        <!-- 分页   结束    -->
    </div>
</template>

<script lang="ts" src="./${BusinessName}.component.ts">
</script>
