<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="${className}">
                <h2 class="jh-entity-heading"><span v-text="$t('yueXinApp.${className}.detail.title')">${ClassName}</span> {{${className}.${pkColumn.javaField}}}</h2>
                <dl class="row jh-entity-details">
#foreach($column in $columns)
                    <dt>
                        <span v-text="$t('yueXinApp.${className}.${field}')">${comment}</span>
                    </dt>
                    <dd>
                        <span>{{${className}.${field}}}</span>
                    </dd>
#end
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="${className}.${pkColumn.javaField}" :to="{name: '${ClassName}Edit', params: {${className}Id: ${className}.${pkColumn.javaField}}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./${BusinessName}-details.component.ts">
</script>
