import { Component, Inject } from 'vue-property-decorator';

import { mixins } from 'vue-class-component';
import JhiDataUtils from '@/shared/data/data-utils.service';

import { I${ClassName} } from '@/shared/model/${BusinessName}.model';
import ${ClassName}Service from './${BusinessName}.service';

@Component
export default class ${ClassName}Details extends mixins(JhiDataUtils) {
    @Inject('${className}Service') private ${className}Service: () => ${ClassName}Service;
    public ${className}: I${ClassName} = {};

    beforeRouteEnter(to, from, next) {
        next(vm => {
            if (to.params.${className}Id) {
                vm.retrieve${ClassName}(to.params.${className}Id);
            }
        });
    }

    public retrieve${ClassName}(${className}Id) {
        this.${className}Service()
            .find(${className}Id)
            .then(res => {
                this.${className} = res;
            });
    }

    public previousState() {
        this.$router.go(-1);
    }
}
